body{
    background-color: #1e1e1e;
    color: #f3c319;
    scrollbar-width:  none; /*Firefox*/
}
body::-webkit-scrollbar {
    width: 0;
}

.header-icon{
    width: 3rem;
    height: rem;
    /*border-top: 0.5rem;*/
}

.header-user{
    background-color: red;
    display: flex;
    justify-content: center;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #1e1e1e;
    /*height: 9rem;*/
    padding: 1rem 0;
}

.footer-icon{
    width: 2rem;
    height: 2rem;
}



.header-log {
    position: relative;
}

.popLogin{
    position: absolute;
    top: -2rem;
    right: -19.5rem;
    z-index: 2;
    width: 100vw;
    height: 102vh;
    visibility: hidden;
    /*background-color: rgba(255, 0, 0, 0.404);*/

    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 3;
}

.popform-signin{
    position: absolute;
    top: 5rem;
    right: 22rem;
    background-color: #212429;
    border-radius: 2rem;
    border: 1px solid ;
    max-width: 330px;
    padding: 15px;
    z-index: 4;
}

/*.popLogin:target {
    visibility: visible;
    opacity: 1;
}*/

.popform-signin .form-floating:focus-within {
    z-index: 2;
    width: 100%;
    margin-bottom: 1rem;
}

.popform-signin input[type="name"], .popform-signin input[type="email"], .popform-signin input[type="date"] {
    width: 100%;
    margin-bottom: 1rem;
}

.popform-signin input[type="password"] {
    margin-top: 1rem;
    margin-bottom: 10px;
}

.popclose-top{
    width: 100%;
    height: 102vh;
}