.locales-sectionOne{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("./../img/locales1.jpg");
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 28rem;
    margin-top: 2rem;
    border-radius: 3rem;
    -webkit-box-shadow: 0px 0px 65px 20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 65px 20px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 65px 20px rgba(0,0,0,0.75);
}

.locales-sectionOne_h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Brush Script MT";
    font-size: 70px;
}

.locales-sectionTwo{
    text-align: center;
    text-transform: uppercase;
    padding: 2rem;
    -webkit-text-stroke: 2px #f3c319;  
    -webkit-text-fill-color: transparent;
    font-size: small;
}

.locales-sectionThree{
    display: flex;
    padding: 3rem 0 3rem 0;
}

.locales-sectionThree_left{
    margin-top: 10rem;
    width: 50%;
    padding: 3rem 3rem 0 3rem;
    background: linear-gradient(#111111, #141414, #1e1e1e, #1e1e1e, #1e1e1e);
    border-radius: 3rem;
}
.locales-sectionThree_left_img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("./../img/locales3.jpg");
    width: 100%;
    height: 50rem;
    margin: 0 auto;
    border-radius: 3rem;
}

.locales-sectionThree_right{
    margin-bottom: 10rem;
    width: 50%;
    padding: 0 3rem 0 3rem;
    background: linear-gradient(#1e1e1e, #1e1e1e,#1e1e1e, #141414, #111111);
    border-radius: 3rem;
}
.locales-sectionThree_right_img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("./../img/locales2.jpg");
    width: 100%;
    height: 50rem;
    margin: 0 auto;
    border-radius: 3rem;
}

.locales-sectionFour{
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.locales-sectionFive{
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
}

.locales-sectionFive_part{
    text-align: center;
    background-color: #212429;
    width: 20%;
    padding: 1rem;
    border-radius: 3rem;
}

.locales-sectionFive_icon{
    width: 5rem;
    height: 5rem;
}

.locales-sectionFive_part H5{
    margin: 1rem;
}

.locales-sectionFive_part p{
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: white;
}


.locales-sectionSix{
    display: flex;
}
.locales-sectionSix iframe{
    width: 60%;
    height: 25rem;
    border-radius: 3rem;

}

.locales-sectionSix_right{
    width: 40%;
    position: relative;
}
.locales-sectionSix_right div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: small;
}
.locales-sectionSix_right div h4{
    color: white;
}



