.carta-texto{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 20rem;
}

.carta-seccion{
    text-align: center;
}

.carta-tarjetas{
    display: flex;
    justify-content: space-evenly;
    background-color: #1e1e1e;
}

.carta-tarjeta{
    background-color: #212429;
    border-radius: 5rem;
    border: 2rem;
    width: 30%;
    text-align: center;
}

.carta-tarjeta > a{
    cursor: pointer;
    transition: a 0.3s ease-out;
}

.carta-photo{
    width: 90%;
    height:15rem;
    border-radius: 5rem;
    display: block;
    margin: auto;
    margin-top: 1rem;
    /*background-color: aliceblue;*/
    background-size: contain;
}

.carta-nombre{
    /*background-color: yellow;*/
    /*padding-left: 10%;*/
    font-size: 1.5rem;
    color: white;
}

.carta-descrip{
    /*text-align: center;*/
    color: white;
}

.carta-icon{
    width: 1rem;
    height: 1rem;
}

.carta-preciocarro{
    display: flex;
    justify-content: center;
}

.carta-precio{
    /*background-color: white;*/
    /*text-align: center;*/
    font-size: 2rem;
    color: white;
}

.carta-btn{
    width: 2rem;
    height: 2rem;
    margin-top: 0.5rem;
    background-color: transparent;
    border: none;
}

.carta-btn_img{
    width: 2rem;
    height: 2rem;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 20rem auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }