body{
    background-color: #1e1e1e;
}

.carta-tarjetas{
    display: flex;
    justify-content: space-evenly;
    background-color: #1e1e1e;
}

.carta-tarjeta{
    background-color: #212429;
    border-radius: 5rem;
    border: 2rem;
    width: 30%;
    text-align: center;
    display: ;
}

.carta-photo{
    width: 90%;
    height:15rem;
    border-radius: 5rem;
    display: block;
    margin: auto;
    margin-top: 1rem;
    /*background-color: aliceblue;*/
    background-size: contain;
}

.carta-nombre{
    /*background-color: yellow;*/
    /*padding-left: 10%;*/
    font-size: 1.5rem;
    color: white;
}

.carta-descrip{
    /*text-align: center;*/
    color: white;
}

.carta-icon{
    width: 1rem;
    height: 1rem;
}

.carta-precio{
    /*background-color: white;*/
    /*text-align: center;*/
    font-size: 2rem;
    color: white;
}