.carta-tarjetas{
    display: flex;
    justify-content: space-evenly;
    background-color: green;
}

.carta-tarjeta{
    background-color: red;
    border-radius: 5rem;
    border: 2rem;
    width: 30%;
}

.carta-photo{
    width: 90%;
    height:15rem;
    border-radius: 5rem;
    display: block;
    margin: auto;
    margin-top: 1rem;
    background-color: aliceblue;
    background-size: contain;
}

.carta-nombre{
    background-color: yellow;
    padding-left: 10%;
}

.carta-descrip{
    text-align: center;
}

.carta-alergias{
    background-color: blue;
    text-align: center;
}

.carta-precio{
    background-color: white;
    text-align: center;
}