
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #1e1e1e;
    /*height: 9rem;*/
    padding: 1rem 0;
    overflow: hidden;
}

.footer-icon{
    width: 2rem;
    height: 2rem;
}