{% extends 'base.html' %}

{% block style %}carrito{% endblock %}

{% block content %}
    <script src="{{ url_for('static', filename= 'js/carrito.js') }}"></script>
    <div class="container separar">
        <div class="carrito-general">
            <p>Vista General</p>
            <div>
                <p>Subtotal</p>
                <script>carritoTotal()</script>
            </div>
            <div>
                <p>Servicio</p>
                <script>servicio()</script>
            </div>
            <div>
                <p>Transporte</p>
                <script>randTrasnport()</script>
            </div>
            <input id="descuento" type="text" placeholder="Codigo descuento">
            <button onclick="descuento()">Aplicar</button>
            <div>
                <p>Descuento</p>
                <script>verDescuento()</script>
            </div>
            <div>
                <p>TOTAL</p>
                <script>pagoTotal()</script>
            </div>
        </div>
        <div class="carrito-tarjetas">
            <script>
                renderCarrito()
            </script>
        </div>
    </div>
{% endblock %}