{% extends 'base.html' %}

{% block style %}carta{% endblock %}

{% block content %}
    <div class="container">

      <div class="carta-texto">
        <div>
          <h1>Las mejores hamburguesas de madrid</h1>
          <p>Todas nuestras hamburguesas tienen carne de txuleton de 1Kg, quitandole el hueso se quedan en 800gr, por lo que cada carne de la hamburguesa lleva 1/4 de txuleton. <br> Nuestros panes son artesanales y las salsas elaboradas por nosotros.</p>
        </div>
      </div>

      <hr/>

      <div class="carta-seccion">
        <h2>Hamburguesas</h2>
      </div>

      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 carta-tarjetas">
        {% for plato in carta %}
          {% if (plato.2 == "hamburguesa") %}
            <div class="feature col carta-tarjeta">
              <img class="carta-photo" src="{{ url_for('static', filename= 'img/' + plato.1 + '.jpg')}}">
              <p class="fs-2 carta-nombre">{{ plato.1 }}</p>
              <p class="carta-descrip">{{ plato.3 }}</p>
              {%if(plato.4 == "gluten/lactosa")%}
                <img class="carta-icon" src="{{ url_for('static', filename= 'img/gluten.png')}}">
                <img class="carta-icon" src="{{ url_for('static', filename= 'img/lactosa.png')}}">
              {%endif%}
              {%if(plato.4 == "lactosa")%}
                <img class="carta-icon" src="{{ url_for('static', filename= 'img/freegluten.png')}}">
                <img class="carta-icon" src="{{ url_for('static', filename= 'img/lactosa.png')}}">
              {%endif%}
              {%if(plato.4 == "gluten")%}
                <img class="carta-icon" src="{{ url_for('static', filename= 'img/gluten.png')}}">
                <img class="carta-icon" src="{{ url_for('static', filename= 'img/freelactosa.png')}}">
              {%endif%}
              {%if(plato.4 == "free")%}
                <img class="carta-icon" src="{{ url_for('static', filename= 'img/freegluten.png')}}">
                <img class="carta-icon" src="{{ url_for('static', filename= 'img/freelactosa.png')}}">
              {%endif%}
              <div class="carta-preciocarro">
                <p class="carta-precio">{{ plato.5 }}€</p>
                {% if current_user.is_authenticated: %}
                <button class="carta-btn"><img class="carta-btn_img" src="{{ url_for('static', filename= 'img/carrito.png')}}"></button>
                {%endif%}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>


      <hr/>

      <div class="carta-seccion">
        <h2>Entrantes</h2>
      </div>

      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 carta-tarjetas">
        {% for plato in carta %}
          {% if (plato.2 == "entrantes") %}
            <div class="feature col carta-tarjeta">
              <img class="carta-photo" src="{{ url_for('static', filename= 'img/' + plato.1 + '.jpg')}}">
              <p class="fs-2 carta-nombre">{{ plato.1 }}</p>
              <p class="carta-descrip">{{ plato.3 }}</p>
              {%if(plato.4 == "gluten/lactosa")%}
                <img class="carta-icon" src="{{ url_for('static', filename= 'img/gluten.png')}}">
                <img class="carta-icon" src="{{ url_for('static', filename= 'img/lactosa.png')}}">
              {%endif%}
              {%if(plato.4 == "lactosa")%}
                <img class="carta-icon" src="{{ url_for('static', filename= 'img/freegluten.png')}}">
                <img class="carta-icon" src="{{ url_for('static', filename= 'img/lactosa.png')}}">
              {%endif%}
              {%if(plato.4 == "gluten")%}
                <img class="carta-icon" src="{{ url_for('static', filename= 'img/gluten.png')}}">
                <img class="carta-icon" src="{{ url_for('static', filename= 'img/freelactosa.png')}}">
              {%endif%}
              {%if(plato.4 == "free")%}
                <img class="carta-icon" src="{{ url_for('static', filename= 'img/freegluten.png')}}">
                <img class="carta-icon" src="{{ url_for('static', filename= 'img/freelactosa.png')}}">
              {%endif%}
              <div class="carta-preciocarro">
                <p class="carta-precio">{{ plato.5 }}€</p>
                {% if current_user.is_authenticated: %}
                <button class="carta-btn"><img class="carta-btn_img" src="{{ url_for('static', filename= 'img/carrito.png')}}"></button>
                {%endif%}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>


      <hr/>

      <div class="carta-seccion">
        <h2>Bebidas</h2>
      </div>

      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 carta-tarjetas">
        {% for plato in carta %}
          {% if (plato.2 == "bebida") %}
            <div class="feature col carta-tarjeta">
              <img class="carta-photo" src="{{ url_for('static', filename= 'img/' + plato.1 + '.jpg')}}">
              <p class="fs-2 carta-nombre">{{ plato.1 }}</p>
              <p class="carta-descrip">{{ plato.3 }}</p>
              <div class="carta-preciocarro">
                <p class="carta-precio">{{ plato.5 }}€</p>
                {% if current_user.is_authenticated: %}
                <button class="carta-btn"><img class="carta-btn_img" src="{{ url_for('static', filename= 'img/carrito.png')}}"></button>
                {%endif%}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    
    </div>

    <hr/>
    <script src="{{ url_for('static', filename= 'js/carrito.js') }}"></script>

{% endblock %}