{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="faqs">
            <div class="faqs70">
                <h1>Preguntas destacados</h1>
                <div class="faqs-coment">
                    {% for faq in faqs %}
                        <div class="faqs-tarjeta">
                            <div class="faqs-tarjeta_names">
                                <p>{{ faq.1 }} {{ faq.2 }}</p>
                                <p>{{ faq.3 }}</p>
                            </div>
                            <p>{{ faq.4 }}</p>
                            <div class="faqs-tarjeta_caract">
                                <form action="/sumar_like" method="POST">
                                    <p>
                                        {{ faq.5 }}
                                        <input type="image" class="faqs-icon" src="{{ url_for('static', filename= 'img/like.png')}}">
                                        <input type="hidden"  name="id" value="{{ faq.0 }}">
                                        <input type="hidden"  name="likes" value="{{ faq.5 }}">
                                    </p>
                                    <p>{{ faq.6 }}</p>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="faqs-form">
                <form class="faqs-formulario" action="/añadir_comentario" method="POST">
                    <p>Dejanos tu pregunta</p>
                    <input class="faqs-input" type="text" name="nombre" placeholder="Nombre">
                    <input class="faqs-input" type="text" name="apellido" placeholder="Apellido">
                    <input class="faqs-input" type="email" name="email" placeholder="email">
                    <textarea class="faqs-input" name="mensaje" placeholder="Mensaje"></textarea>
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}