{% extends 'base.html' %}

{% block style %}index{% endblock %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            console.log("hola")
            var socket = io.connect("http://localhost:5000");
            socket.on('connect', function() {
                socket.send("User connected");
            });

            socket.on('message', function(data) {
                $('#messages').append($('<p>').text(data));
            });

            $('#sendBtn').on('click', function() {
                const mess = "Tu: " + document.getElementById('message').value
                $('#messages').append($('<p>').text(mess));
                socket.send($('#message').val());
                $('#message').val('');
            });
        });
    </script>

    <div class="container">
        <div class="index-first">
            <h1>Asier's Burger</h1>
            <span class="s-1">Chorreoo..</span>
            <span class="s-2">ÑAM..ÑAM!!</span>
            <span class="s-3">The Besttt</span>
            <span class="s-4">Parrillaa.</span>
            <span class="s-5">Buey Wagyu</span>
            <span class="s-6">Buey Kobe </span>
        </div>

        <hr/>

        <div class="index-second">
            <div class="index-second_left">
                <img src="./../static/img/QR.png">
            </div>
            <div class="index-second_right">
                <h2>Descarga nuestra aplicacion</h2>
                <p>Las mejores ofertas de nuestros productos,</p>
                <p>acumula puntos y</p>
                <p>canjealos por recompensas</p>
                <div class="index-second_icons">
                    <div class="index-second_icon">
                        <img src="./../static/img/moneda.png">
                        <p>Monedas</p>
                    </div>
                    <div class="index-second_icon">
                        <img src="./../static/img/monedas.png">
                        <p>Acumula</p>
                    </div>
                    <div class="index-second_icon">
                        <img src="./../static/img/regalo.png">
                        <p>Recompensas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="messages">

    </div>
    <input type="text" id="message" placeholder="message">
    <button id="sendBtn" onclick="printmessage()">Send</button>
{% endblock %}