{% extends 'base.html' %}

{% block style %}user{% endblock %}

{% block content %}
<div class="container">
    <div class="user">
        <div class="user-first">
            {% with foto = current_user.foto.decode('UTF-8') %}
            <img src= "data:image/png;base64,{{ foto }}">
            {% endwith %}
            <p><strong>{{ current_user.nombre }} {{ current_user.apellido }} </strong></p>
        </div>

        <div class="user-second">
            <p><strong>E-mail:</strong> {{ current_user.email }}</p>
            <p><strong>Fecha de Nacimiento:</strong> {{ current_user.nacimiento }}</p>
            <p><strong>Fecha de Registro:</strong> {{ current_user.registro }}</p>
            <form class="user-second_eliminar" action="/borrarusuario" method="POST">
                <input type="hidden" name="id" value="{{ current_user.id }}">
                <button type="submit">Eliminar Usuario</button>
            </form>
        </div>

        <form class="user-three" action="/cambiarcontraseña" method="POST">
            <p>Cambiar contraseña</p>
            <input type="hidden" name="id" value="{{ current_user.id }}">
            <input type="hidden" name="passactualhidden" value="{{ current_user.password }}">
            <input class="user-three_input" type="password" name="passactual" placeholder="Contraseña actual">
            <input class="user-three_input" type="password" name="passnueva" placeholder="Contraseña nueva">
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>
{% endblock %}